html, body {
  background-color: black;
}

h1 {
  font-family: "Helvetiva", sans-serif;
  font-weight: normal;
  font-size: 2em;
  top: 0.5vw;
  left: 2vw;
  color: white;
  position: fixed;
  z-index: 1000;
}

a {
  font-family: "Helvetiva", sans-serif;
  font-weight: normal;
  font-size: 2em;
  top: 4vw;
  left: 2vw;
  color: white;
  position: fixed;
  z-index: 1000;
  text-decoration: none;
}

h3 {
  font-family: "Helvetiva", sans-serif;
  font-weight: normal;
  font-size: 2em;
  top: 4.5vw;
  left: 2vw;
  color: white;
  position: fixed;
  z-index: 1000;
}

img{
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
